@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    font-family: "DM Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* .ring-offset-background{
    border-radius: 8px;
    height: 34px;
    border: 1px solid #D0D5DD !important;
} */